<br> 
<div class="container">
  <!-- 论文列表 -->
  <div class="col-md-10 col-md-offset-1">
    <div class="col-md-6">
      <span class="list-header">论文列表</span>
      <button class="btn btn-info" ng-click="ctrl.toLogin()">登录</button>
    </div>
    <div class="col-md-6">
      <div class="input-group">
            <div class="input-group-btn" uib-dropdown>
              <button id="single-button" uib-dropdown-toggle type="button" class="btn btn-default" ng-click="ctrl.open()">
              {{ctrl.type | searchType}} <span class="caret"></span>
              </button>
              <ul class="dropdown-menu" uib-dropdown-menu>
                <li role="menuitem" ng-repeat="item in ctrl.types track by $index"><a href ng-click="ctrl.typeClicked($index)">{{item | searchType}}</a></li>
              </ul>
            </div><!-- /btn-group -->
            <input type="text" class="form-control" ng-model="ctrl.word" placeholder="search...">
            <span class="input-group-btn">
              <button class="btn btn-default" type="button" ng-click="ctrl.search()">Go!</button>
            </span>
          </div><!-- /input-group -->
    </div>
    <br>
    <hr class="list-hr">
    <div class="media paper-item" ng-repeat="item in ctrl.papers | filter:ctrl.filtText track by $index">
      <!-- paper author, titie, keyword, etc -->
        <div class="media-body">
            <h4 class="media-heading">{{item.title}} <small>作者: {{item.author}} 编号: {{item.serialnumber}}</small></h4>
            <p>
              <span>投稿日期: {{item.createdtime | date:'yyyy-MM-dd HH:mm:ss'}}</span>
              <button type="button" class="btn btn-info btn-xs btn-tag" ng-repeat="item2 in item.keys">
                 {{item2.word}}
              </button>
            </p>
        </div>
        <!-- paper status -->
        <div class="media-right paper-item-status">
          <p>{{item.status | filtStatus}}</p>
      </div>
      <!-- paper options -->
      <div class="paper-item-btn">
        <button type="button" class="btn btn-default btn-xs" ng-click="ctrl.review($index)" ng-disabled="!ctrl.editable(item)">
            <span class="glyphicon glyphicon-search" aria-hidden="true"></span>
        </button>
      </div>
    </div>
  </div>
</div>