<div class="modal-header">
  <h4 class="modal-title">论文详情</h4>
</div>

<div class="modal-body">
  <div class="container-fluid">
    <div class="row">
      <!-- 标题 -->
      <div class="col-md-12">
        <span class="list-header">{{ctrl.paper.title}} <small>编号: {{ctrl.paper.serialNumber}}</small></span>
      </div>
      <br>
      <hr>
      <!-- 详细内容 -->
      <div class="container-fluid">
        <div class="row">
          <form class="form-horizontal">
            <div class="form-group">
              <label class="col-sm-2 control-label">发布日期</label>
              <div class="col-sm-10">
                <p>{{ctrl.paper.createdtime | date:'yyyy-MM-dd HH:mm:ss'}}</p>
              </div>
            </div>
            <div class="form-group">
              <label class="col-sm-2 control-label">审阅截止日期</label>
              <div class="col-sm-10">
                <p>{{ctrl.paper.deadline | date:'yyyy-MM-dd HH:mm:ss'}}</p>
              </div>
            </div>
            <div class="form-group">
              <label class="col-sm-2 control-label">状态</label>
              <div class="col-sm-10">
                <p>{{ctrl.paper.status | filtStatus}}</p>
              </div>
            </div>
            <div class="form-group">
              <label class="col-sm-2 control-label">作者</label>
              <div class="col-sm-10">
                <p>{{ctrl.paper.author}}</p>
              </div>
            </div>
            <div class="form-group">
              <label class="col-sm-2 control-label">通讯作者</label>
              <div class="col-sm-10">
                <p>{{ctrl.paper.correspondingauthor}}</p>
              </div>
            </div>
            <div class="form-group">
              <label class="col-sm-2 control-label">作者单位</label>
              <div class="col-sm-10">
                <p>{{ctrl.paper.affiliation}}</p>
              </div>
            </div>
            <div class="form-group">
              <label class="col-sm-2 control-label">通讯地址</label>
              <div class="col-sm-10">
                <p>{{ctrl.paper.correspondingaddress}}</p>
              </div>
            </div>
            <div class="form-group">
              <label class="col-sm-2 control-label">论文摘要</label>
              <div class="col-sm-10">
                <p>{{ctrl.paper.abstraction}}</p>
              </div>
            </div>
            <div class="form-group">
              <label class="col-sm-2 control-label">论文正文</label>
              <div class="col-sm-10">
                <p>正文：<a href="{{ctrl.url}}" target="_blank">下载正文</a></p>
              </div>
            </div>
            <div class="form-group">
              <label class="col-sm-2 control-label">审稿意见</label>
              <div class="col-sm-10">
                <select class="form-control" ng-options="item for item in ctrl.items1" ng-model="ctrl.opinion"></select>
              </div>
            </div>
            <div class="form-group">
              <label class="col-sm-2 control-label">置信度</label>
              <div class="col-sm-10">
                <select class="form-control" ng-options="item for item in ctrl.items2" ng-model="ctrl.confidence"></select>
              </div>
            </div>
            <div class="form-group">
              <label class="col-sm-2 control-label">备注</label>
              <div class="col-sm-10">
                <textarea class="form-control" rows="5" ng-model="ctrl.remark"></textarea>
              </div>
            </div>
            <div class="form-group">
                <div class="col-sm-offset-2 col-sm-10">
                  <button type="submit" class="btn btn-default" ng-click="ctrl.submit()">提交审核意见</button>
                </div>
              </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>