/* 论文列表大标题 */
.list-header {
	margin-top: 0;
	margin-bottom: 0;
	margin-right: .5em;
	vertical-align: middle;
	font-size: 24px;
}
.list-header>small {
	font-size: 75%;
	vertical-align: bottom;
}
.list-hr {
	border-top: 1px solid #ddd;
}

/* 论文列表项目 */
.paper-item {
	padding-left: 15px;
	padding-right: 15px;
	padding-bottom: 4px;
	border-bottom: 1px dashed #ddd;
}
.paper-item-main {

}
.paper-item-status {
	padding-left: 1em;
	padding-right: 1em;
	vertical-align: middle;
}
.paper-item-status>p {
	display: block;
	min-width: 4em;
}
.paper-item-btn {
	display: table-cell;
	vertical-align: middle;
}
.paper-item-btn>.btn {
	margin-bottom: 4px;
}

/* 水平列表 */
.dl-horizontal dt {
	width: 4em;
}
.dl-horizontal dd {
	margin-left: 5em;
}

/* 标签组 */
.btn-tag {
	margin-right: .5em;
}
.tag-group {
	margin-bottom: .5em;
}
.tag-add {
	max-width: 16em;
}

/* 输入框 */
.limit-control {
	max-width: 8em;
}

.input-group-btn.permission-add>.btn {
	margin-left: .5em;
	border-top-left-radius: 4px;
	border-bottom-left-radius: 4px;
}