<div class="modal-header">
  <h4 class="modal-title">论文详情</h4>
</div>

<div class="modal-body">
  <div class="container-fluid">
    <div class="row">
      <!-- 标题 -->
      <div class="col-md-8">
        <span class="list-header">{{ctrl.paper.title}} <small>编号: {{ctrl.paper.serialnumber}}</small></span>
        <button class="btn btn-danger pull-right" ng-click="ctrl.revoke()" ng-disabled="!revokable(ctrl.paper.status)">撤销</button>
      </div>
      <br>
      <hr>
      <!-- 详细内容 -->
      <div class="col-md-12">
        <dl class="dl-horizontal">
          <dt>发布日期</dt>
          <dd>{{ctrl.paper.createdtime | date:'yyyy-MM-dd HH:mm:ss'}}</dd>
            
          <dt>状态</dt>
          <dd>{{ctrl.paper.status | filtStatus}}</dd>
            
          <dt>关键词</dt>
          <dd>
            <div class="tag-group">
              <button type="button" class="btn btn-info btn-xs" ng-repeat="item in ctrl.paper.keys track by $index">
               {{item.word}}
              </button>
            </div>
          </dd>
  
          <dt>作者</dt>
          <dd>{{ctrl.paper.author}}</dd>
  
          <dt>作者单位</dt>
          <dd>{{ctrl.paper.affliation}}</dd>
  
          <dt>通讯作者</dt>
          <dd>{{ctrl.paper.correspondingauthor}}</dd>
  
          <dt>通讯地址</dt>
          <dd>{{ctrl.paper.correspondingaddress}}</dd>
  
          <dt>论文摘要</dt>
          <dd>{{ctrl.paper.abstraction}}</dd>
  
          <dt>论文正文</dt>
          <dd><a href="{{ctrl.url}}" target="_blank">下载正文</a></dd>

          <dt>标签</dt>
          <dd>
          	<div class="tag-group">
          	  <button type="button" class="btn btn-info btn-xs" ng-repeat="item in ctrl.tags track by $index">
               {{item.tag}}
           	  </button>
          	</div>
          </dd>
        </dl>
      </div>

    </div>
  </div>
</div>