<div class="modal-header">
  <h4 class="modal-title">最终裁决</h4>
</div>

<div class="modal-body">
  <div class="container-fluid">
    <div class="row">
      <!-- 标题 -->
      <div class="col-md-8">
        <span class="list-header">{{ctrl.paper.title}} <small>编号: {{ctrl.paper.serialnumber}}</small></span>
      </div>
      <br>
      <hr>
      <!-- 详细内容 -->
      <div class="col-md-12">
        <dl class="dl-horizontal">
          <dt>发布日期</dt>
          <dd>{{ctrl.paper.createdtime | date:'yyyy-MM-dd HH:mm:ss'}}</dd>
            
          <dt>状态</dt>
          <dd>{{ctrl.paper.status | filtStatus}}</dd>
            
          <dt>关键词</dt>
          <dd>{{ctrl.keys}}</dd>
  
          <dt>作者</dt>
          <dd>{{ctrl.paper.author}}</dd>
  
          <dt>作者单位</dt>
          <dd>{{ctrl.paper.affliation}}</dd>
  
          <dt>通讯作者</dt>
          <dd>{{ctrl.paper.correspondingauthor}}</dd>
  
          <dt>通讯地址</dt>
          <dd>{{ctrl.paper.correspondingaddress}}</dd>
  
          <dt>论文摘要</dt>
          <dd>{{ctrl.paper.abstraction}}</dd>
  
          <dt>论文正文</dt>
          <dd><a href="{{ctrl.url}}" target="_blank">下载正文</a></dd>

          <dt>论文序列号</dt>
          <dd>{{ctrl.paper.serialNumber}}</dd>

          <dt>审阅截止时间</dt>
          <dd>{{ctrl.paper.deadline | date:'yyyy-MM-dd HH:mm:ss'}}</dd>

          <dt>审阅人意见</dt>
          <dd>
            <strong>[TODO]</strong>
          </dd>

          <dt>主席决策</dt>
          <dd>
            <select class="form-control" ng-options="item|judgeOpinion for item in ctrl.judgements" ng-model="ctrl.judgement"></select>
          </dd>
          <dt ng-show="ctrl.judgement=ctrl.judgements[0]">添加标签</dt>
          <dd ng-show="ctrl.judgement=ctrl.judgements[0]">
            <div class="tag-group">
              <button type="button" class="btn btn-info btn-xs" ng-repeat="item in ctrl.tags track by $index">
               {{item}} <span class="glyphicon glyphicon-remove" ng-click="ctrl.removeTag($index)"></span>
              </button>
            </div>
            <div class="input-group tag-add">
              <input type="text" class="form-control" placeholder="标签" ng-model="ctrl.tag">
              <span class="input-group-btn">
                <button class="btn btn-default" type="button" ng-click="ctrl.addTag()">添加</button>
              </span>
            </div>
          </dd>
        </dl>
        <div class="form-group">
          <div class="col-sm-offset-2 col-sm-10">
            <button type="submit" class="btn btn-default" ng-click="ctrl.submit()">提交</button>
          </div>
        </div>
      </div>

    </div>
  </div>
</div>