<div class="container">
	<!-- 论文列表 -->
	<div class="col-md-10 col-md-offset-1">
		<div class="col-md-6">
			<span class="list-header">人员权限</span>
		</div>
		<br>
		<hr class="list-hr">
		<!-- reviewer list -->
		<div class="media paper-item" ng-repeat="item in ctrl.reviewers track by $index">
		  	<div class="media-body">
		  	  	<h4 class="media-heading">{{item.name}}(审阅人）</h4>
		  	</div>
			<!-- paper options -->
			<div class="paper-item-btn">
				<button type="button" class="btn btn-danger btn-xs">
  					<span class="glyphicon glyphicon-remove" ng-click="ctrl.remove($index)"></span>
				</button>
			</div>
		</div>
		<div class="input-group tag-add">
		  	<select class="form-control" ng-options="item.name for item in ctrl.users" ng-model="ctrl.user">
		  	</select>
		  	<span class="input-group-btn permission-add">
		    	<button class="btn btn-default" type="button" ng-click="ctrl.add()">添加</button>
		 	 </span>
		</div>
	</div>
</div>